<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <formvh:renderRenderable renderable="{element}">
    <f:if condition="{element.properties.elementDescription}">
      <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
    </f:if>
    <f:if condition="{validationResults.errors} && {idIterator.isFirst}">
      <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
    </f:if>
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
      <f:form.textarea
        property="{element.identifier}"
        id="{element.uniqueIdentifier}"
        class="form-control"
        rows="{f:if(condition: '{element.properties.rows}', then : '{element.properties.rows}', else: '6')}"
        cols="{element.properties.cols}"
        errorClass="{element.properties.elementErrorClassAttribute}"
        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
      />
    </f:render>
  </formvh:renderRenderable>
</html>
